body {
    height: 20vh;
    width: 100%;
}

#div-azul {
    height: 40%;
    width: 100%;
    background-color: #14b1bb;
}

.esquerda {
    display: flex;
    flex-direction: row;
}
.direita{
display: flex;
flex-direction: row;


}
.icone {
    margin-left: 5%;
    filter: invert(100%)
}

.texto {
    filter: invert(100%)
}