body{
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    height: 75px;
    background-color: darkcyan;
    display: flex;
    flex-direction: row;
    position: relative
}

header div{
    width: 50%;
    height: 100%;
    display: flex;
}

header > div:nth-child(1){
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    font-size: larger;
    display: flex;
    margin-left: 20px;
    align-items: center;
    
}

header > div{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    display: flex;
    margin-left: 5px;
    align-items: center;
    
}

header div div{
    align-items: center;
}

